__pycache__/
.ipynb_checkpoints/
experiments/results/
cata/run/results/
experiments/*profile.txt
.DS_Store
data/
baseline_experiments/results/
baseline_experiments/__pycache__/
cluster_results/
saved_model_weights/
.vscode/
.mypy_cache/
mypy.txt
tests/experiment_tests/test_results/
tests/experiment_tests/target_dfs/
*.egg-info
*.pdf
