matplotlib==3.3.2
numpy==1.17.3
pandas==1.0.1
PyYAML==5.4
scikit-learn==0.22.1
scipy==1.4.1
torch==1.6.0
torchvision==0.7.0
tensorboardX==1.9

-e git://github.com/seblee97/config_package.git#egg=config-manager-seblee97