matplotlib==3.3.2
numpy==1.22.0
pandas==1.0.1
PyYAML==5.1.2
scikit-learn==0.22.1
scipy==1.4.1
torch==1.6.0
torchvision==0.7.0
tensorboardX==1.9

-e git://github.com/seblee97/run_modes.git#egg=run-modes-seblee97
-e git://github.com/seblee97/plotter.git#egg=plotter-seblee97